
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:17px;
    padding:8px;
}
h2{
    text-align:center;
    padding:15px;
    background-color:orange;
    border:10px solid orange;
     width:100%;
    border-radius:10px;
    cursor:pointer;
    font-size:30px;
}
*{
    box-sizing:border-box;
}
.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 -10px;
}
.col-25{
    -ms-flex:25%;
    flex:25%;
}
.col-50{
    -ms-flex:50%;
    flex:50%;
}
.col-75{
  -ms-flex:75%;
    flex:75%;
}
.col-25,.col-50,.col-75{
    padding:0 16px;
}
.container{
    background-color:#cfcccc85;
    padding:3px 18px 13px 18px;
    border:5px solid orange;
    border-radius:3px;
}
input[type=text]{
    width:100%;
    margin-bottom:20px;
    padding:12px;
    border:1px solid orange;
    border-radius:3px;
   background-color:lightcyan;
}
input[type=text]:hover{
    background-color:orange;
}
label{
    margin-bottom:10px;
    display:block;
}
.icon-container{
    margin-bottom:20px;
    padding:7px 0;
    font-size:24px;
}
.btn{
    background-color:orange;
    color:black;
    padding:20px;
    border: 3px solid black;
    width:100%;
    border-radius:5px;
    cursor:pointer;
    font-size:20px;
    height:10px;
}
.btn:hover{
    background-color:#4CAF50;
}
a{
    border:1px solid lightgrey;
}
span.price{
    float:right;
    color:grey;
}
@media(max-width:800px){
    .row{
        flex-direction:column-reverse;
    }
    .col-25{
        margin-bottom:20px;
    }
}